@import'./colors';

body{    
    font-family: 'Roboto', sans-serif;
    background-color: $background1 !important;
    height: 100vh;
    position: relative;
    width: 100vw;
}

.indexBody{
    cursor:none
}

.bottomWrap{
    position:absolute;
    top: 28vh;
    right: 3%;
    width: 73vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:right;
}


@mixin backdrop {
    min-height: 60vh;
    background: url("../../public/Img/pexels-innermost-limits-3894157.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center; 
}

.overlay1{
    @include backdrop();
    position:absolute;
    width: 90vw;
    left: 0;
    bottom: 0;
    background-color:$fontbeige;
    background-blend-mode: lighten;
    opacity:1;
}
.overlay2{
    @include backdrop();
        position:absolute;
    width: 90vw;
    left:25vw;
    bottom: 30vh;
    background-color:$fontbeige;
    background-blend-mode: lighten;
    opacity:1;
    z-index:-2;
}

.about{
    @include backdrop();
    z-index: 1;
    flex: 1 2 80%;
}
.createdBy{
    flex: 0 1 1rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: $mailingList ;
    font-size: .85em;
    letter-spacing: .1rem;
    justify-items: stretch;
    height: 25rem;  
    padding-left: .75rem;

}

.look{
    letter-spacing: 0.35rem;
    color: $mailingList;
    flex:1 1 100%;
    transition:all 2s ease;
    right:10vw;
    padding:.75rem 5rem 0 0;
    overflow-wrap: wrap;
    line-height: 2rem;
    span{
       position: absolute;
       animation: divehover 2.2s cubic-bezier(0.43,-0.76, 0.69, 1.12) infinite;
       padding-left: .5rem;
       font-size: 1.2rem;
}
}

.aboutButton{
        position: absolute;
        top: 50%;
        right: 57%;
        padding: 3rem;        
        max-width: 8rem;
        border: none;       
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.25rem;
        opacity: 0;
        z-index: 3;
        transition: all .12s ease;
        background-color: rgba(255, 255, 255, 0);
            color:$redfont;

    }
 .aboutButton:hover{
        opacity: 1;
}

@mixin bird ($top, $right, $width,$maxwidth, $opacity){
    position: absolute;
    top:$top;
    right: $right;
    width: $width;
    max-width: $maxwidth;
    opacity: $opacity;
}

.flyLeft{
    @include bird(70%,65%,10vw,6.5rem,33%)
}

.flyRight{
    @include bird(8%,30%,15vw,8rem,28%)
}


@keyframes divehover{
    0%{transform:translateY(-11%);}
    50%{transform:translateY(13%);color:white;opacity:.4}
    100%{transform:translateY(-11%);}
}

// about

.aboutContent{      
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    min-height:100vh;
    width: 100vw;

    p{
        transition: all .2s ease-in-out;
        padding: 0 auto;
        margin-top: 0.5rem;
        font-size: .9rem;
        line-height: 1.5rem;
        max-width:40rem;
            width: 80vw;
        padding:0.5rem .5rem;    
    }        
    h2{
        padding:0 .5rem;
                width: 80vw;
        transition: all .2s ease-in-out;
        align-self: left;
        line-height:2rem;
        margin-bottom: 0.75rem;
        font-size: 2.2rem;
        letter-spacing: .15rem;
        max-width:40rem;
  
    } 
    #reference{
        font-size: .6rem;
        padding-top: .5em;
        padding-bottom: .5rem;
        line-height: 1.65em;
    }
}

#enter {
    height: 6rem;
    width: 6rem;
    bottom: 1.5rem;
    right: 10%;
    margin-top: 1rem;
    margin-right: 20%;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: .2rem;
    align-self: flex-end;
    border:none;
    border-radius: 50%;
    background-color:$darkbeige;
    z-index: 4;
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: $redfont;
    }
}

#enter:hover{
    cursor: default;
}
